[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/benchmark"]
	path = deps/benchmark
	url = https://github.com/google/benchmark.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/wren"]
	path = deps/wren
	url = https://github.com/wren-lang/wren.git
[submodule "deps/luajit"]
	path = deps/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
